@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
img{
  height: 200px;
  width: 240px;
  border-radius: 50px;
  filter: contrast(120%);
}

p
{padding-top: 15px;
font-family: 'Lora', serif;
font-size: 16px;
padding-bottom: 5px;
}
h2 {
  padding-bottom: 18px;
  padding-top: 6px;
  font-weight: bolder;
}

select {
  border-radius: 20px;
  height: 38px;
  width: 157px;
  font-weight: bold;
  padding: 5px;
  margin-top: 5px;
}